<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <test thread-count="5" name="Test_All">

        <classes>
            <class name="testcases.LoginTest"></class>
            <class name="testcases.HomeTest"></class>
            <class name="testcases.CartTest"></class>
            <class name="testcases.CheckoutTest"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->